{% extends 'base.html' %}
{% load static %}

{% block customcss %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock customcss %}

{% block title %}新規登録画面{% endblock title %}


{% block content %}
<body>
    <div class="registration-container">
        <div>
            <form method="post"> {% csrf_token %}<!--actionにどこにデータを投げるか指定する。menuはユーザーごとに違う -->
                <h1>新規登録画面</h1>
                <p>
                    <span>{{ form.mailaddress }}</span>
                </p>
                <P>
                    <span>{{ form.password1 }}</span>
                </P>
                <P>
                    <span>{{ form.password2 }}</span>
                </P>
                 <!-- エラーメッセージを表示 -->
                 {% if form.errors %}
                 <div class="error-messages">
                     {% for field, errors in form.errors.items %}
                         {% for error in errors %}
                             <p>{{ error }}</p>
                         {% endfor %}
                     {% endfor %}
                 </div>
                 {% endif %}
                <button class="login-back" type="submit">新規登録</button> <!--buttonタグにtype=submitを記載しなくても、標準でついてる　わかりやすさ重視で書いておく-->
            </form>
                <a href="{% url 'remind:login' %}">ログイン画面へ戻る</a>
        </div>
        
    </div>
    
</body>

{% endblock content %}