:root {
    --dark_bule: #0081A7;
    --greenbule: #00AFB9;
    --beige: #FDFCDC;
    --pale_orenge: #FED9B7;
    --orenge: #FFC38C;
    --dark_orenge: #F07167;
    --pale_gray: #E1E1E1;
    --glay: #DADADA;
    --words_gray:#767676;
    --dark_glay: #2B2B2B;
    --black: #000000;
    --white: #FFFFFF;
  }