<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8"> <!--文字コードの指定-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Wasurenu{% endblock title%}</title>
    <meta name="description" content="ご自宅にある日用品や食品の在庫管理が簡単にできるWEBアプリです。">
    <meta property="og:sote_name" content="Wasurenu"> <!--共有時のサイト名をするタグ -->
    <meta property="og:site_name" content="Wasurenu"> <!--サイト名を指定するタグ-->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon"> <!--ファビコンのURL-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
    <header>
        <div>
            {% block header %}Wasurenu{% endblock header %}
        </div>
        <div class="home-button-container">
            <form action="/menu/">
                <button class="home-button" aria-label="ホームに戻る">
                    <span class="material-icons icon-size">home</span>
                </button>
            </form>
        </div>   
    </header>
    
    

    {% block content %}
    {% endblock content %}
    <script src="{% static 'javascript/hamburger.js' %}"></script>
    <script src="{% static 'javascript/count.js' %}"></script>
    <script src="{% static 'javascript/reset-modal.js' %}"></script>
    <script src="{% static 'javascript/personal-modal.js' %}"></script>
</html>