{% extends 'base-menu.html' %}

{% block title %}メニュー画面{% endblock title %}


{% block content %}
<body>
    <div class="menu-container">
        <search class="search-container">
            <form action="./〇〇/{ **** }" method="POST">{% csrf_token %} <!--actionにどこにデータを投げるか指定する。menuはユーザーごとに違う -->
                <input type="text" placeholder="管理物品の検索">
                <button type="button">登録</button>    
            </form>
        </search>  
    
        <div>
            <div class="list-container">
                <div>管理物品一覧</div>
                <button id="sort-next-purchase">次回購入期限順</button>
                <button id="sort-recent-purchase">最近買った順</button>
            </div>
            <div>

            </div>
            
            <div class="tabs">
            
                <input type="radio" id="all" name="tab-label" checked>
                <label class="tab-label" for="all">ALL</label>
            
                <input type="radio" id="daily-item" name="tab-label">
                <label class="tab-label" for="daily-item">日用品</label>
            
                <input type="radio" id="food" name="tab-label">
                <label class="tab-label" for="food">食品</label>
            
                <input type="radio" id="others" name="tab-label">
                <label class="tab-label" for="others">その他</label>
        
                
                <div  class="tab-content" id="all-content">
                     <!--以下バックエンドに値に置き換える-->
                     {% for goods in goods_items %}
                    <div class="item">
                        <div>
                            <!-- <p id="purchase-status-{{ goods.id }}" class="purchase-status">〇</p> -->
                            <p class="js-modal-open" data-target="all-modal-{{ goods.id }}" data-expire-date="{{ goods.expire_date|date:'Y-m-d' }}">{{ goods.goods_name }}</p><br> <!--ALLのリスト-->
                            <span data-key="purchase_date">購入日 {{ goods.purchase_date|date:"Y/m/d" }}</span><br>
                            <span data-key="next_purchase_date">次回購入予定 {{ goods.next_purchase_date|date:"Y/m/d" }}</span>
                            {% include 'menu-modal.html' %}
                            </div>
                        <div>
                            <button type="button">買った</button>
                            <button type="button">延長</button>  
                        </div>      
                    </div>
                    {% endfor %}
                </div>
                <div class="tab-content" id="daily-content">
                    {% for d_goods in daily_goods %}
                    <div class="item">
                        <div>
                            <p class="js-modal-open" data-target="daily-modal-{{ d_goods.id }}">{{ d_goods.goods_name }}</p><br> <!--日用品のリスト-->
                            <span data-key="purchase_date">購入日 {{ d_goods.purchase_date|date:"Y/m/d" }}</span><br>
                            <span data-key="next_purchase_date">次回購入予定 {{ d_goods.next_purchase_date|date:"Y/m/d" }}</span>
                            {% include 'menu-modal.html' %}
                            </div>
                        <div>
                            <button type="button">買った</button>
                            <button type="button">延長</button>  
                        </div>      
                    </div>
                    {% endfor %}
                </div>
                <div class="tab-content" id="food-content">
                    {% for f_goods in food_goods %}
                    <div class="item">
                        <div>
                            <p class="js-modal-open" data-target="food-modal-{{ f_goods.id }}" data-expire-date="{{ f_goods.expire_date|date:'Y-m-d' }}">{{ f_goods.goods_name }}</p><br> <!--食品のリスト-->
                            <span data-key="purchase_date">購入日 {{ f_goods.purchase_date|date:"Y/m/d" }}</span><br>
                            <span data-key="next_purchase_date">次回購入予定 {{ f_goods.next_purchase_date|date:"Y/m/d" }}</span>
                            {% include 'menu-modal.html' %}
                            </div>
                        <div>
                            <button type="button">買った</button>
                            <button type="button">延長</button>  
                        </div>      
                    </div>
                    {% endfor %}
                </div>
                <div class="tab-content" id="others-content">
                   {% for o_goods in other_goods %}
                    <div class="item">
                        <div>
                            <p class="js-modal-open" data-target="other-modal-{{ o_goods.id }}">{{ o_goods.goods_name }}</p><br> <!--その他のリスト-->
                            <span data-key="purchase_date">購入日 {{ o_goods.purchase_date|date:"Y/m/d" }}</span><br>
                            <span data-key="next_purchase_date">次回購入予定 {{ o_goods.next_purchase_date|date:"Y/m/d" }}</span>
                            {% include 'menu-modal.html' %}
                            </div>
                        <div>
                            <button type="button">買った</button>
                            <button type="button">延長</button>  
                        </div>      
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
  
</body>

{% endblock content %}