
<!-- モーダル本体 -->
<div class="modal" id="js-reset-modal">
    <div class="modal-container">
      <!-- モーダルを閉じるボタン -->
      <div class="modal-close" id="js-reset-modal-close">×</div>
      <!-- モーダル内部のコンテンツ -->
      <div class="reset-modal-content">
            <div>
              <span>次回購入までの期間を</span><br>
              <span>初期化しますか？</span>
            </div>
             <!--ALLのリスト-->
             <div>
              <!-- 2/26　うっちゃん 手こずっているのでコメントアウト-->
               
              <form method="POST">
                <input type="hidden" name="○○" value="○○">                
                <button type="submit">初期化</button>
              </form>
                <button type="submit">しない</button>
            </div>
      </div>
    </div>
  </div>